<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>url-y | Home</title>
    <meta
      name="description"
      content="A URL Shortener with a RESTful API powered by MongoDB, and a front-end utilizing EJS."
    />
    <meta name="title" property="og:title" content="url-y" />
    <meta property="og:type" content="Website" />
    <!-- <meta name="image" property="og:image" content="/images/preview-home.png" /> -->
    <meta
      name="description"
      property="og:description"
      content="A URL Shortener with a RESTful API powered by MongoDB, and a front-end utilizing EJS."
    />
    <meta name="author" content="Nicholas Lukasevich" />
    <link rel="icon" type="image/png" href="/icons/share-fill.svg" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/index.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
      integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
      crossorigin="anonymous"
      defer
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="/index.js" defer></script>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main class="container">
      <form id="formUrlCreate" class="mb-4 mb-sm-5">
        <fieldset class="mb-3">
          <legend class="mb-3">Create new shortened URL</legend>
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <div class="form-floating">
                <input
                  type="text"
                  name="name"
                  id="inputUrlName"
                  placeholder="Name"
                  required
                  class="form-control"
                />
                <label for="inputUrlName" aria-required="true">Name</label>
              </div>
            </div>

            <div class="col-md-3 col-sm-12">
              <div class="form-floating">
                <input
                  type="text"
                  name="fullUrl"
                  id="inputUrlFull"
                  placeholder="Full URL"
                  required
                  class="form-control"
                />
                <label for="inputUrlFull" aria-required="true">Full URL</label>
              </div>
            </div>

            <div class="col-md-3 col-sm-12">
              <div class="form-floating">
                <input
                  type="text"
                  name="shortUrl"
                  id="inputUrlShort"
                  placeholder="Short URL"
                  required
                  class="form-control"
                  autocapitalize="off"
                  autocomplete="off"
                  spellcheck="false"
                />
                <label for="inputUrlShort" aria-required="true"
                  >Short URL</label
                >
                <div id="divUrlShortFeedback" class="mt-1">
                  Short URL already exists.
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-12">
              <button
                type="submit"
                id="buttonCreateUrl"
                class="btn btn-primary"
              >
                Shorten
              </button>
            </div>
          </div>
        </fieldset>
      </form>

      <h2 class="mb-3">Stored URLs</h2>
      <div class="table-wrapper table-responsive shadow-sm mb-4 mb-sm-5">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Full URL</th>
              <th>Short URL</th>
              <th>Clicks</th>
              <th class="td-url-action">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% urls.forEach(url => { %>
            <tr class="align-middle">
              <td><%= url.name %></td>
              <td>
                <a href="<%= url.full %>" target="_blank"><%= url.full %></a>
              </td>
              <td class="td-url-short" onclick="e => console.log(e.target)">
                <div class="div-container-url-short">
                  <button class="btn btn-light btn-url-short-copy"></button>
                  <div class="div-text-url-short"><%= url.short %></div>
                </div>
              </td>
              <td><%= url.clicks %></td>
              <td class="td-url-action">
                <button
                  data-url-short="<%= url.short %>"
                  class="button-url-edit btn btn-secondary m-1"
                >
                  Edit
                </button>
                <button
                  data-url-short="<%= url.short %>"
                  class="button-url-delete btn btn-danger m-1"
                >
                  Delete
                </button>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
