<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>url-y</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <header class="mb-4 mb-sm-5">
      <nav class="navbar navbar-dark bg-primary">
        <div class="container">
          <div class="navbar-brand" href="#">url-y</div>
        </div>
      </nav>
    </header>

    <main class="container">
      <form
        action="/create"
        method="POST"
        enctype="application/x-www-form-urlencoded"
        class="mb-4 mb-sm-5"
      >
        <fieldset class="mb-3">
          <legend class="mb-3">Create new shortened URL</legend>
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  name="name"
                  id="nameInput"
                  placeholder="Name"
                  required
                  class="form-control"
                />
                <label for="nameInput" aria-required="true">Name</label>
              </div>
            </div>

            <div class="col-md-3 col-sm-12">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  name="fullUrl"
                  id="fullUrlInput"
                  placeholder="Full URL"
                  required
                  class="form-control"
                />
                <label for="fullUrlInput" aria-required="true">Full URL</label>
              </div>
            </div>

            <div class="col-md-3 col-sm-12">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  name="shortUrl"
                  id="shortUrlInput"
                  placeholder="Short URL"
                  required
                  class="form-control mb-3"
                />
                <label for="shortUrlInput" aria-required="true"
                  >Short URL</label
                >
              </div>
            </div>

            <div class="col-md-3 col-sm-12">
              <button
                type="submit"
                id="buttonCreateUrl"
                class="btn btn-primary"
              >
                Shorten
              </button>
            </div>
          </div>
        </fieldset>
      </form>

      <div class="table-wrapper table-responsive shadow">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Full-URL</th>
              <th>Short-URL</th>
              <th>Clicks</th>
              <th class="td-url-action">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% urls.forEach(url => { %>
            <tr class="align-middle">
              <td><%= url.name %></td>
              <td>
                <a href="<%= url.full %>" target="_blank"><%= url.full %></a>
              </td>
              <td class="td-url-short" onclick="e => console.log(e.target)">
                <%= url.short %>
              </td>
              <td><%= url.clicks %></td>
              <td class="td-url-action">
                <button class="button-url-edit btn btn-secondary m-1">
                  Edit
                </button>
                <button class="button-url-delete btn btn-danger m-1">
                  Delete
                </button>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
